MYSQL_DATABASE=DATABASE
MYSQL_USER=DB_USER
MYSQL_PASSWORD=STRONGPASSWORD

ASPNETCORE_ENVIRONMENT=Production
ConnectionStrings__mysql=server=mysql;user=DB_USER;database=DATABASE;password=STRONGPASSWORD;
AllowedOrigins__0=https://seudominio.com
BrevoSettings__ApiKey=SUA_CHAVE_AQUI
BrevoSettings__SenderEmail=email@email.com.br
BrevoSettings__SenderName=email

JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY\n-----SUA CHAVE AQUI-----\nEND PRIVATE KEY-----"