$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


.card-header {
  background-color: #434d61;
  color: #fff;
  padding: 15px !important;
  height: 65px;
  width: 100%;

  .header-label {
    display: block;
    float: left;
    margin: 5px 0 0 0;
    font-weight: bold;
  }
}

.card-content {
  width: 100%;
}

.card-footer {
  padding: 15px;
  justify-content: flex-end;
}

.q-btn {
  &.left-icon i {
    margin-right: 10px;
  }

  &.right-icon i {
    margin-left: 10px;
  }
}

.q-separator--horizontal {
  height: 2px;
}

.sm-dialog {
  .q-dialog__inner >div {
    overflow: hidden;
    max-height: 585px;
    max-width: 450px;
    width: 100%;
  }
}

.md-dialog {
  .q-dialog__inner >div {
    overflow: hidden;
    max-height: 585px;
    max-width: 650px;
    width: 100%;
  }
}

.lg-dialog {
  .q-dialog__inner >div {
    overflow: hidden;
    max-height: 585px;
    max-width: 850px;
    width: 100%;
  }
}

// Scrollbar style
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track{
  background: #E2E2E2;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #404D61;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2c3644;
}